RewriteEngine On

#https://stackoverflow.com/questions/5932641/deny-directory-listing-with-htaccess
#https://mediatemple.net/community/products/dv/204643020/creating-custom-error-pages

#staigasana pa mapem
Options -Indexes

#Force hide file extensions
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html


#Force www:
RewriteCond %{HTTP_HOST} ^bt.local [NC]
RewriteRule ^(.*)$ http://www.bt.local/$1 [L,R=301,NC]

#Error pages
# kluda, ja lapa netiek atrasta
ErrorDocument 404 /errors/not_found.php

#mapju staigasana / index.html
ErrorDocument 403 /errors/forbidden.html